.venv/
__pycache__/
*.log
*.tmp
*.bak
AiBhrigu.github.io/
-orion-ai/
AiBhrigu/
BRI_DAO/
HDC/
LLM-Chatbot/
LLM-Chatbot-2025-09-03-93316572665749/
ORION_Validator_Pack/
astro_patterns/
bhrigu-future-scenarios/
bhrigu-governance/
bhrigu-governance-frontend/
bri-dao-icp/
oracul/
orion-mini-automation/
orion_site/
orion_validator/
